<div class="modal-header">
  <h4 class="modal-title">Join Today</h4>
  <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
   <span aria-hidden="true">&times;</span>
  </button> -->
 </div>
 <div class="modal-body">
  <div *ngIf="showMsg" class="alert alert-success" role="alert">
   <b>Well done !</b> You successfully added a new Cribsheet.
  </div>
  <div class="form-group">
   <label for="email">Email</label>
   <input type="text" class="form-control" #email> 
  </div>
  <div class="form-group">
     <label for="password">Password</label>
     <input type="text" class="form-control" #password> 
  </div>
 </div>
 <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="saveNewUser(email.value, password.value)">Create User</button>
 </div>